services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n_app
    environment:
      - EXECUTIONS_PROCESS=main
      - N8N_PORT=5678
      - N8N_METRICS=true
      - GENERIC_API_KEY=your-api-key-here
      - LMSTUDIO_HOST=http://host.docker.internal:1234 # example
      - GENERIC_TIMEZONE=America/New_York
      - TZ=America/New_York
      - NODES_EXCLUDE="[]"
      - N8N_RESTRICT_FILE_ACCESS_TO="/data;/data/tmp;/data/summaries;/data/evergreen"
      - PROMPT_REPO_URL=https://raw.githubusercontent.com/dloomis/n8n-meeting-summarizer/main/
    volumes:
      - n8n_data:/home/node/.n8n
      - "/Users/dloomis/tmp:/data/tmp"
      - "/Users/dloomis/Documents/Obsidian/Meeting Summaries:/data/summaries/"
      - "/Users/dloomis/Documents/Obsidian/Evergreen Notes:/data/evergreen"
    ports:
      - "5678:5678"
    restart: unless-stopped
volumes:
  n8n_data:
    external: true
